<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DoAnWinform_Demo02.Properties.Settings.DOAN02ConnectionString" connectionString="Data Source=LAPTOP-Q7RU1PPE\TRINHMANHQUYNH;Initial Catalog=DOAN02;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DOAN02Entities" connectionString="metadata=res://*/DoAnModel.csdl|res://*/DoAnModel.ssdl|res://*/DoAnModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-Q7RU1PPE\TRINHMANHQUYNH;initial catalog=DOAN02;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>